/* We'll put stuff here shortly... */
:root {
    --nav-space: 15px;
}

* {
    font-family: 'Indie Flower', 'Knewave', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

/* General settings for text size */
h1,h2,h3,h4,h5,h6 {
    font-family: 'Knewave', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-size: min(4vw, 24px);
}


.header {
    display:flex;
    justify-content: center;
    padding: 5px 5px 5px 5px;
    background-color: #000;
    color: #ffffff;
}

.centered {
    font-size: min(6vw, 32px);
    /* text-align: center; */
}



.header nav {
    padding-top: 19px;
    padding-right: 25px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    color: #ffffff;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    font-family: 'Indie Flower';
    display: inline-block;
    padding-left: min(1vw, var(--nav-space));
    padding-right: min(1vw, var(--nav-space));
}

.header nav ul li:hover {
    cursor: pointer;
}

h1 {
    font-size: 48px;
    display:inline-block;
    line-height: 1.5;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 15px;
    color: #fff;
    background-color: #000;
}

.video-container {
    position: relative;
    width: 100vw;
    height: 95vh;
}

.overlay-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    background: rgba(0,0,0,1);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    max-width: 90%;
    width: 50vh;
}

.overlay-text img {
    max-height: min(8vw, 75px);
}

.overlay-text ul {
    display: flex;
    justify-content: center;
    margin: 10px;
    list-style-type: none;
    gap: min(0.5vw, 7.5px);
}

.overlay-text ul li {
    /* display: inline-block; */
    padding-left: var(--nav-space);
    padding-right: var(--nav-space);
}

/* Video settings */
video {
    position: fixed;
    left: 50%;
    transform: translate(-50%,0%);
    height: 100vh;
    width: auto;
    /*max-height: 100%;*/
    /*max-width: 1200px;*/
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
}

.bubble-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: auto;
    min-height: max(95%);
    /* max-width: 1500px; */
    align-items: center;
    justify-content: flex-end;
    /*transform: translate(-50%, -50%);*/
}

#youtube-vid {
    width: auto;
    height: min(30vh, 750px);
    margin: 25 0 25 0;
}

#home-button:hover {
    cursor:pointer;
}

#new-button:hover {
    cursor:pointer;
}